article {
	@apply hover:opacity-80 rounded-lg h-96 relative;

	& img {
		@apply h-48 mx-auto rounded-t-lg w-full;
	}

	& div {
		@apply p-4 mt-1;

		& h3 {
			@apply font-bold text-lg;
		}
	}

	& footer {
		@apply px-4 absolute bottom-4;
	}
}
