.content {
	@apply m-auto max-w-6xl;

	& header {
		@apply mt-12;

		& h1 {
			@apply font-bold text-2xl mb-3;
		}

		& p {
			@apply font-light text-xl;
		}
	}
}

.postsContainer {
	@apply grid grid-cols-1 gap-6 lg:grid-cols-3 flex-col lg:flex-row w-full flex-wrap;

	& article {
		@apply my-10 hover:opacity-80  rounded-lg h-80;

		& img {
			@apply max-h-56 mx-auto rounded-t-lg w-full;
		}

		& div {
			@apply p-4 mt-1;

			& h3 {
				@apply font-bold text-lg;
			}
		}
	}
}
