.container {
	@apply w-full bg-cover bg-fixed bg-center flex items-center justify-center flex-col py-16 px-8 text-white;
	background-image: url("~/assets/images/background.jpg");

	& img {
		@apply h-40 w-40 rounded-full mb-8;
	}

	& h1 {
		@apply mb-4 text-5xl;
	}

	& span {
		@apply block font-thin mb-4 text-lg mt-2 text-center;
	}
}
